$main-color: #fff;
$main-font: "Montserrat",
sans-serif;
$secondary-font: "Roboto Slab",
serif;
$suplemented-font: "Kaushan Script",
serif;

$secondary-color: #fce38a;
$services-color:#333333;
$services-text-color:#999999;
$services-after-color: #f38181;
$border-color:#e5e5e5;